package templates

import (
	"goth/internal/middleware"
)

templ header(title string) {
    <!DOCTYPE html>
	<head>
		<title>{ title }</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="/static/script/htmx.min.js"></script>
		<script src="/static/script/response-targets.js"></script>
		<link rel="stylesheet" href="/static/css/style.css"/>
	</head>
}

templ footer() {
	<footer class="bg-neutral-600 p-4"></footer>
}

templ nav() {
	<nav class="bg-neutral-600 p-4">
		<div class="container flex justify-between">
			<ol class="flex space-x-4">
				<li>
					<a class="text-gray-200" href="/">Home</a>
				</li>
				<li>
					<a class="text-gray-200" href="/about">About</a>
				</li>
			</ol>
			<ol class="flex space-x-4">
				if middleware.GetUser(ctx) != nil {
					<li>
						<button class="text-gray-200" hx-target="body" hx-swap="innerHTML" hx-post="/logout">Logout</button>
					</li>
				} else {
					<li>
						<a class="text-gray-200" href="/register">Register</a>
					</li>
					<li>
						<a class="text-gray-200" href="/login">Login</a>
					</li>
				}
			</ol>
		</div>
	</nav>
}

templ Layout(contents templ.Component, title string) {
	@header(title)
	<body class="min-h-screen flex flex-col items-center justify-center bg-stone-100">
        <div class="flex flex-col justify-center items-center min-h-screen w-full mx-auto">
            <header class="sticky top-0 bg-primary shadow-xl z-50 lg:rounded-b-lg w-full">
                @nav()
            </header>
            <div class="flex flex-grow flex-col items-center w-full h-full">
                @contents
            </div>
            <footer class="w-full text-center">
                @footer()
            </footer>
        </div>
	</body>
}
